
main
{
    text-align: center;
}

.bloc-container
{
    padding-left: 0;
}

.navbar-brand img
{
    height: 3em;
}

.site-navigation 
{
    list-style: none;
    margin-right: 1em;
}

.nav li a 
{
    padding: 15px 15px;
    text-decoration: none;
}

.center-block
{
    width:100px;
}

.black-background {
    
    background-color: #252525b3;
  }

.col-sm-4 h2
{
    font-size: 1.5em;
}

.col-xs-12 p
{
    font-size: 17px;
    font-style: italic;
    margin-bottom: 0;
    margin-top: -0.7em;
}

.col-xs-12 h2
{
    font-weight: 700;
}


.icon-lg {
    font-size: 69px!important;
}

.tc-white
{
    color: #ffffff !important;
}

.tc-white-1
{
    font-size: 1em;
    color: #ffffff !important;
}

.center-text 
{
text-align: center;
color: #ffffff !important;
}


.text-center
{
    font-size: inherit;
}

.row h2
{
    font-size: 22px;
}

.hero-bloc-text
{
    font-size: 37px;
   
}

/*.infos
{
    margin-left: 41em;
}*/

label
{
margin-bottom: 6px;
}

.form-group
{
    text-align: initial;
    margin-left: 21em;
    padding-bottom: 1.2em;
}

.bloc-button
{
    margin-left: 21em;
    width: 67%;
}

.col-sm-6-p
{
    margin-left: 24em;
    font-size: 18px;
}

.form-control
{
    font-size: 1.5em;
    width: 660px;
}

.white
{
    color: #fffcfc!important;
}
.col-sm-3 i
{
    color: #5e5656 !important;
}

.btn-atomic-tangerine
{
    color: #000 !important;
}

.social {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    text-decoration: none;
}

.col-sm-12
{
   margin-top: 5em;
  
}

@media (min-width: 768px)
{
    .site-navigation {
        right: 205px;
       
    }
}
