main {
    text-align: center;
}

.page-container {
    text-align: -webkit-center;
}


/*ACCUIEL HEADER*/
.navbar-brand img {
    height: 3em;
}

.site-navigation {
    list-style: none;
    right: 30px;
}

.nav li a {
    padding: 15px 15px;
    text-decoration: none;
    font-size: 1.5em;

}

a[data-lightbox]:hover::before
{
    margin-left: 104px;
}

.cle {
    line-height: 0em;
}

/*SECTION PRÉSENTATION*/
.center-block {
    width: 100px;
}

.btn-atomic-tangerine {
    color: #000 !important;
    border-radius: 9px;
    padding: 20px 40px 20px 40px;
    border-radius: 2em;
    width: auto;
}


.hero-bloc-text {
    font-size: 37px;

}

.cta-hero {
    font-size: 20px;
}

/*SECTION SERVICE*/

.med-width-whitespace {
    max-width: 92em;
}

.col-sm-4 h2 {
    font-size: 1.5em;
}

.row .pdg {
    font-weight: inherit;
    font-size: 1.3em;
    margin-top: -0.4em;
}

.row h2 {
    font-size: 25px;
}

.icon-lg {
    font-size: 69px !important;
}


/* section what-i-do */

.black-background {

    background-color: #252525b3;
}

.col-xs-12 p {
    font-size: 17px;
    font-style: italic;
    margin-bottom: 0;
    margin-top: -0.7em;
}

.white-1 {
    color: #ffffff !important;
}

.col-xs-12 h2 {
    font-weight: 700;
}


.tc-white {
    color: #ffffff !important;
    font-weight: bold;
    font-size: 1em;

}


/*PARTIE CONCTAT ET ACCESSIBILTÉ*/

.tc-white-1 {
    font-size: 1em;
    color: #000000 !important;
}

/* section formulaire*/

.infos h1 {
    font-size: 2.9em;
}

.col-sm-6-p {
    font-size: 18px;
}

.form-control {
    border-color: #8d8686;
    padding: 18px;
    display: inline-block;
}
.btn-block {
    display: inline-block;
  }

.form-group {
    margin-bottom: 9px;
}

.col-sm-6-form {
    float: none;
}

label {
    display: flex;
    margin-left: 1em;
    margin-bottom: 0.5em;
    font-size: 1.4em;
}

/*FOOTER*/

.bgc-atomic-tangerine {
    background-color: #E88D54;
    padding-bottom: 0em;
}

.text-center {
    font-size: 1.3em;
    line-height: 1.2em;
}


.row .white {
    color: #000 !important;
}

.col-sm-3 i {
    color: #5e5656 !important;
}

.social {
    display: flex;
    align-content: stretch;
    justify-content: space-around;
    text-decoration: none;
    padding: 1.5em;
}


/*PAGE ACCESSIBILITÉ**/
.container-1 {
    padding-bottom: 6em;
    padding-top: 4em;
}


.raccourcis {
    font-weight: 700;
    font-size: 1.7em;
}

.div-lien {
    font-size: 1.3em;
}

.div-lien li {
    list-style-type: none;
}

.liens {
    font-size: 1.2em;
}


/*MEDIA QUERIES*/

@media (min-width: 768px) {
    .form-control {
        width: 100%;
        height: 2em;

    }

    .form {
        margin-left: -21em;
    }
    
    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
   
        display: inline-block;
        
    }

    a[data-lightbox] 
    {
        text-align:inherit;
    }

    

}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .form {
        margin-left: -21em;
    }

    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
   
        max-width: 78.265%;
        display: inline-block;
        
    }

    a[data-lightbox] 
    {
        text-align:inherit;
    }

}

@media (max-width: 767px) {
    .form-control {
        width: 88%;
        height: 2em;
    }

    .form {
        margin-left: -21em;
    }


    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
   
        max-width: 78.265%;
        display: inline-block;
        
    }

    a[data-lightbox] 
    {
        text-align:inherit;
    }


}