
main
{
    text-align: center;
}


.site-navigation
{
   right: 205px; 
}

.bloc-container
{
    padding-left: 0;
}

.navbar-brand img
{
    height: 3em;
}

.site-navigation 
{
    list-style: none;
    margin-right: 1em;
}

.nav li a 
{
    padding: 15px 15px;
    text-decoration: none;
}

.center-block
{
    width:100px;
}

.med-width-whitespace

{
    max-width: 92em;
}

.black-background {
    
    background-color: #252525b3;
  }

.col-sm-4 h2
{
    font-size: 1.5em;
}

.col-xs-12 p
{
    font-size: 17px;
    font-style: italic;
    margin-bottom: 0;
    margin-top: -0.7em;
}

.col-xs-12 h2
{
    font-weight: 700;
}
.row .pdg
{
    font-weight: inherit;
    font-size: 1.3em;
    margin-top: -0.4em;
}


.icon-lg {
    font-size: 69px!important;
}

.tc-white
{
    color: #ffffff!important;
    font-weight: bold;
    font-size: 1em;

}

.tc-white-1
{
    font-size: 1em;
    color: #000000 !important;
}

.bgc-atomic-tangerine {
    background-color: #E88D54;

}
.center-text 
{
text-align: center;
color: #ffffff !important;
}


.text-center
{
    font-size: 1.3em;
    line-height: 1.2em;
}

.row h2
{
    font-size: 25px;
}

.hero-bloc-text
{
    font-size: 37px;
   
}

.bloc-button
{
    width: 67%;
}

.col-sm-6-p
{
    font-size: 18px;
}

.row .white
{
    color: #000 !important;
}

.white-1
{
    color: #ffffff!important;
}
.col-sm-3 i
{
    color: #5e5656 !important;
}

.btn-atomic-tangerine
{
    color: #000 !important;
    border-radius: 9px;
}

.social {
    display: flex;
    align-content: stretch;
    justify-content: space-around;
    text-decoration: none;
    padding: 1.5em;
}


.form-group {
    margin-bottom: 9px;
}

label
{
    display: flex;
    margin-left: 1em;
    margin-bottom: 1em;
}


.page-container
{
    text-align: -webkit-center;
}
.container-1
{
    padding-bottom: 12em;
    padding-top: 5em;
}

.bgc-atomic-tangerine
{
    padding: 2em;
    padding-bottom: 5em;
}

.raccourcis
{
    font-weight: 700;
    font-size: 1.7em;
}

.div-button 
{
    font-size: 1.3em;
}

@media (min-width: 768px)
{
    .form-control
{
    width:100%;
    height: 2em;
    
}


.form
{
    margin-left: -21em;
}


}


@media (max-width: 767px)
{
    .form-control
{
    width:88%;
    height: 2em;
}

.form
{
    margin-left: -21em;
}

}




